mat-card{
    margin: auto;
}

textarea,
mat-form-field{
    width: 100%;
}

mat-spinner{
    margin: auto;
}

input[type = "file"]{
    visibility: hidden;
}

.image_preview{
    height: 5rem;
    margin: 1rem 0;
}

.image_preview img{
    height: 100%;
}