<!--<textarea rows="6" [value]="newPost" ></textarea> -->

<mat-card>

  <!--<mat-form-field>
    <input type="text" matInput [(ngModel)]="enteredTitle">
  </mat-form-field>

  <mat-form-field>
    <textarea rows="6" matInput [(ngModel)]="enteredContent" ></textarea>
  </mat-form-field>

  <button 
  mat-raised-button
  color="primary"
  (click)="onAddPost()">Save Post</button>-->
  <mat-spinner *ngIf="isLoading"></mat-spinner>




  <!--<form  #submitPost="ngForm" (submit)="onAddPost(submitPost)" *ngIf="!isLoading">
    <mat-form-field>
      <input type="text" matInput name="title"  #title="ngModel"  required placeholder="Post Title..." [ngModel]="post?.title">
      so toget data from the post returned 
      <mat-error *ngIf="title.invalid">Please enter the post title.</mat-error>
    </mat-form-field>
      <button mat-stroked-button type="button" (click)="fileSelect.click()" >Image</button>
      <input type="file" #fileSelect>
    <mat-form-field>
      <textarea rows="6" matInput name="content" #content="ngModel" required placeholder="Post your content..." [ngModel]="post?.content"></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content</mat-error>
    </mat-form-field>
      
    <button 
      mat-raised-button
      color="primary"
      type="submit">Save Post</button>

  </form>-->


  <!-- We are switching from tempalte driven approach to model driven approach -->

  <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!isLoading">
    <mat-form-field>
      <input type="text" matInput name="title" formControlName="title" placeholder="Post Title...">
      <!--so toget data from the post returned -->
      <mat-error *ngIf="form.get('title').invalid">Please enter the post title.</mat-error>
    </mat-form-field>
      <button mat-stroked-button type="button" (click)="fileSelect.click()" >Image</button>
      <input type="file" name="image" #fileSelect (change)="onImageChanged($event)" >

      <div class="image_preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>

    <mat-form-field>
      <textarea rows="6" matInput name="content" formControlName="content" placeholder="Post your content..."></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter post content</mat-error>
    </mat-form-field>
      
    <button 
      mat-raised-button
      color="primary"
      type="submit">Save Post</button>

  </form>

</mat-card>



