<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>

    <div class="image-preview">
      <img [src]="post.imagePath" [alt]="post.title">
      <!--By using this also we fail to gain access to the file because we didn't grant access to the file so we have to make the images file in the bckend staticly accessible-->
    </div>

    <p>{{post.content}}</p>

    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
        <a color="primary" mat-button [routerLink]="['/edit',post.id]" >EDIT</a>
        <!--This routerlink is binded to a property of routerlink wee describe individual segments of the path-->
        
        <button color="warn"  mat-button (click)="deletePost(post.id)" >DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="totalPosts"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onChangePage($event)" 
              *ngIf="posts.length > 0">
</mat-paginator>


<p *ngIf="posts.length <= 0 && !isLoading" class="class1 mat-body-1">No posts yet!</p>